$color-content-primary: #fff;
$color-content-primary-hover: #b4a9ff;
$color-content-primary-active: #dc5dfc;

$color-content-secondary: #000;
$color-content-accent: #6a5dc2;

$color-content-placeholder: #00000066;
$color-content-error: #ff7575;

$color-section-title: #fff;

$color-bg-primary: #67a5eb;
$color-bg-pimary-disabled: #45526e;
$color-bg-secondary: #393b3c;
$color-bg-secondary-disabled: #747474;
$color-bg-light: #fff;
$color-bg-dark: #000;

$color-rating-content: #fff;
$color-rating-excellent: #a59400;
$color-rating-good: #308e21;
$color-rating-poor: #777;
$color-rating-bullshit: #c82020;

$color-movie-card-stroke: #fff;

$section-padding-lg: 64px 0;
$section-padding-sm: 24px 0;

