@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;


.button {
  @include button-primary;
  position: relative;

  &_loading {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      margin-left: -26px;
      opacity: 0.5;
      @include loader(20px, 3px);
    }
  }
}
