@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.details {
  &__title {
    @include section-subtitle;
    margin: 0;
    margin-bottom: 64px;

    @include respond-to(md) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include respond-to(md) {
      gap: 12px;
    }
  }
}

.details-item {
  display: flex;
  gap: 8px;
  font-size: 1.125rem;
  line-height: 1.33;
  color: $color-content-primary;

  @include respond-to(md) {
    flex-direction: column;
    gap: 4px;
  }

  &__parameter {
    display: flex;
    align-items: baseline;
    gap: inherit;
    max-width: 320px;
    width: 100%;

    @include respond-to(md) {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: rgba($color-content-primary, 0.5);
    }

    &::after {
      content: '';
      flex: 1;
      background: url(../../assets/vector-dashed.svg) repeat-x;
      width: 100%;
      height: 2px;

      @include respond-to(md) {
        content: none;
      }
    }
  }
}
